.climate{
    width:380px;
  height:200px;
}

h1{
    font-family: impact
}

body{
     background-color: #35B26C;
     color: #F7F0F5;
     font-family: fantasy;
}

.mark{
    width:444px;
  height:300px;
}