/*.quiz{*/
/*background-color:#F7BA84;*/
/*color:#F7BA84;*/
/*}*/

.collage{
 width:1500px;
    height:750px;
}








/*#quiz {    background-color:#DADA57;*/
/*     color: #F7F0F5;*/
/*     font-family: Comic Sans MS;*/
/*}*/
/*#environemntal {background-color:#DADA57;*/
/*     color: #F7F0F5;*/
/*     font-family: Comic Sans MS;*/
}

















