.march{
    width:355px;
  height:200px;
}

h1{
    font-family: impact;
    color: #F7F8FC
}

body{
    background-color: #E76565;
     color: #F7F0F5;
     font-family: Comic Sans MS
}

.rosa{
    width:355px;
  height:250px;
}

.nelson{
    width:355px;
  height:200px;
}