<!DOCTYPE html>
<html>
  <head>
     <title>Activism Info</title> 
     <link rel="stylesheet" href="css/style5.css">   
  </head>  
    <body>
        <h1><center><u>Activism Information:</u></center></h1>
        <h2><center>Click <a href="http://www.bmartin.cc/pubs/07Anderson.html">here</a> to learn more about activism, types of activism, the future of activism, and activist groups!</center></h2>
        <h1>What is activism?</h1>
        <a href="https://en.wikipedia.org/wiki/Activism">https://en.wikipedia.org/wiki/Activism</a>
        <br>
        <h2>Activism is a practice of direct action used to achieve a desired social or political goal based on a controversial issue. Issues can either be opposed to or ended by actions such as protests, marches, etc.</h2>
        <br>
        <h1>Who are activists?</h1>
        <a href="https://cityflag.wordpress.com/2015/07/13/why-are-activists-important/">https://cityflag.wordpress.com/2015/07/13/why-are-activists-important/</a>
        <h1>Why activism?</h1>
        <a href="https://www.nytimes.com/roomfordebate/2016/02/08/can-activists-be-politicians/activism-is-politically-essential-to-society">https://www.nytimes.com/roomfordebate/2016/02/08/can-activists-be-politicians/activism-is-politically-essential-to-society</a>
        <h2>Engaging in issues in today's society is extremely important. Injustices happen all over the world and people do have the power to change it. If enough participants are motivated by an issue, change will eventually happen, leaving a better world.</h2>
   <br>
   <h1><center><u>Government Contact</u></center></h1>
       <h2><center>Click <a href="https://www.resistancecalendar.org/">here</a> for some upcoming activism opportunities!</center></h2>
      <br>
      <h2><center>If you’re the type of person who would like to take political action, the best way to do that would be to contact your elected officials! You can reach out to your elected representatives through the phone, online, or by sending a letter. Make sure to only call YOUR representatives, or else your message won’t count. Contacting your elected officials is a lot easier than it seems, being that all of their information is online. Change can be obtained with a few simple clicks!</center></h2>
      <br>
      <center><img src="images/Contact.png" alt="Contact" class = "contact"></center>
      <br>
      <h3>-Contact Info for your Government!</h3>
      <ul>
     <li> <a href="https://www.usa.gov/state-governor">https://www.usa.gov/state-governor</a></li>
      </ul>
      <h3>-Find out who represents you and contact them!</h3>
      <ul>
      <li><a href="https://www.house.gov/representatives/find-your-representative">https://www.house.gov/representatives/find-your-representative</a></li>
      <li><a href="https://www.senate.gov/general/contact_information/senators_cfm.cfm">https://www.senate.gov/general/contact_information/senators_cfm.cfm </a></li>
      <li><a href="https://www.house.gov/representatives">https://www.house.gov/representatives</a></li>
      </ul>
      <h3>-This website will provide a script to call your representatives with! Just fill in your zip code and the issue you are passionate about! </h3>
      <ul>
      <li><a href="https://5calls.org">https://5calls.org </a></li>
      </ul>
      <h2><center>This line will direct you to the Capitol's switchboard: 202-224-3121.  Make sure you know the name of your congressperson and ask to be connected to them. An operator will pick up the phone and you will most likely be directed to a legislative assistant. They'll ask if you need a response, and it's better if you say you don't, just to make things quicker. Be specific about the issue you are advocating about and give your name and state to allow more calls to go through.</center></h2>

    </body>
</html>