<h1>Your result is <%=@answer%> </h1>
<!DOCTYPE html>
<html>
    <head>
        <title>Environmental Activism</title>
         <link rel="stylesheet" href="css/style4.css">
    </head>
 <body>
     <h1><center><u>Environmental Activism</u></center></h1>
      <h2><center> Environmental Activism is done with the purpose of creating awareness about environmental protection problems and improvements of the health of the environment.</center></h2>
      <h2><center>Click <a href="https://www.resistancecalendar.org/">here</a> for some upcoming activism opportunities!</center></h2>
      <br>
     <h1><center><a href="https://peoplesclimate.org/">People's Climate March</a></center></h1>
     <center><img src="images/Climate.png" alt="Climate" class = "climate"></center>
     <h2>People’s Climate March was a protest that took on the National Mall in Washington D.C. along with 300 other protests throughout the U.S. and outside of the U.S.</h2>
     <br>
     <h1><center><a href="https://en.wikipedia.org/wiki/Mark_Ruffalo">Mark Ruffalo</a></center></h1>
     <center><img src="images/Mark.png" alt="Mark" class = "mark"></center>
     <h2>Mark Ruffalo is best known as an american actor who played the Hulk in movies like Avengers, but he is also an environmental activist! He’s founded the ‘Solutions Project” which works towards achieving 100% renewable energy and supports the ‘Water Defence’ group which manages clean water programs. He not only has a green thumb when playing the Hulk, but also has a green thumb in his day to day life!</h2>
     
 <form method = "post" action = "/activism_info">
         <center><input type="submit" value = "activism info"></center>
     </form>

 
 </body>   
    
</html>