<!DOCTYPE html>
<html>
    <head>
        <div class = "collage"><center><img src = "images/Collage.png" alt="Collage"></center></div>
        <link rel"stylesheet" href="css/style.css">
        <div align="center"><h1> Take the Activism Quiz!</h1></div>
       
    </head>
         <body class="quiz">
<div align="center" class = "Answers">
    <h1 class = "big"> This quiz will determine what type of activism you are most interested in! </h1>
    <br>
        <form method="post" action="/results">
    <h2 id = “activity”> 1. Which of these activities would you enjoy doing? </h2>
    <label><input type = "radio" name = "activity" value = "Cleaning the environment to maintain healthy surroundings">Cleaning the environment to maintain healthy surroundings</label>
    <br>
    <label><input type = "radio" name = "activity" value = "Distributing campaign materials ">Distributing campaign materials </label>
    <br>
    <label><input type = "radio" name = "activity" value = "Participating in a protest march for human rights
 ">Participating in a protest march for human rights </label>
    <br>
    <h2 id = “activist”> 2. Which famous activist do you look up to the most?</h2>
    <label><input type = "radio" name = "activist" value = "Nelson Mandela">Nelson Mandela</label>
    <br>
    <label><input type = "radio" name = "activist" value = "Malala Yousafzai">Malala Yousafzai </label>
    <br>
    <label><input type = "radio" name = "activist" value = "Mark Ruffalo">Mark Ruffalo </label>
    <br>
     <h2 id = “ambition”> 3. Which famous activist do you look up to the most?</h2>
    <label><input type = "radio" name = "ambition" value = "Veterinarian ">Veterinarian </label>
    <br>
    <label><input type = "radio" name = "ambition" value = "A politician">A politician </label>
    <br>
    <label><input type = "radio" name = "ambition" value = "Humanitarian">Humanitarian </label>
    <br>
      <h2 id = “traits”> 4.How would you describe yourself?</h2>
    <label><input type = "radio" name = "traits" value = "Caring, sincere, thoughtful">Caring, sincere, thoughtful </label>
    <br>
    <label><input type = "radio" name = "traits" value = "Encouraging, confident, independent">Encouraging, confident, independent </label>
    <br>
    <label><input type = "radio" name = "traits" value = "Outspoken, humble, loyal">Outspoken, humble, loyal</label>
    <br>
    <input type = "submit" value = "submit">
    </body>
</html>