<!DOCTYPE html>

<html>
    <head>
        <h1>Your result is <%=@answer%> </h1>
        <title><u>Political Activism</u></title>
        <link rel="stylesheet" href="css/style3.css" class = "political">
        
    </head>
    <body>
      <h1><center><u>Political Activism</u></center></h1>
        <h2><center>Political Activism is done with the purpose of creating awareness about political issues and/or to promote political reforms.</center></h2>  
       <h2><center>Click <a href="https://www.resistancecalendar.org/">here</a> for some upcoming activism opportunities!</center></h2>
       <br>
        <h1><center><a href="https://marchforourlives.com/">March For Our Lives</a></center></h1>   
        <center><img src="images/MarchForOurLives.png" alt="March" class = "march"></center>
        <h2>March for Our Lives was a student-led demonstration that supported tighter gun control. It took place on March 24, 2018 in Washington D.C and had over 800 similar events throughout the U.S. and around the world.</h2> 
       <br>
        <h1><center><a href="https://en.wikipedia.org/wiki/Nelson_Mandela">Nelson Mandela</a></center></h1>
         <center><img src="images/Nelson.png" alt="nelson" class = "nelson"></center>
         <br>
        <h2>Nelson Mandela was the first black president of South Africa. He spent 27 years in prison after trying to overthrow the pro-apartheid government and once he was he was released he worked towards human rights and an overall better future for everyone in South Africa.</h2>
       <br>
        <h1><center><a href="https://en.wikipedia.org/wiki/Rosa_Parks">Rosa Parks</a></center></h1>
         <center><img src="images/Rosa.png" alt="rosa" class = "rosa"></center>
         <br>
        <h2>Rosa Parks revitalized the struggle for racial equality and was called “the mother of the civil rights movement.” She is most famous for when she refused to give up her seat on a bus to a white man in Montgomery, Alabama. She was arrested and her arrest launched the Montgomery Bus Boycott.</h2>
     <form method = "post" action = "/activism_info">
         <center><input type="submit" value = "activism info"></center>
     </form>
     <!-- <form method = "post" action = "/contact_info">-->
     <!--    <center><input type="submit" value = "contact info"></center>-->
     <!--</form>-->
    
    </body>
    
</html>