<!DOCTYPE html>
<html>
    <h1>Your result is <%=@answer%> </h1>
    <header>
<title>Social Activism</title>
<link rel="stylesheet" href="css/style2.css">
</header>
   <body>
       <h1><center><u>Social Activism</u></h1></center>
       <p><center>Social Activism is done with the purpose of social change.</p></center>
        <h2><center>Click <a href="https://www.resistancecalendar.org/">here</a> for some upcoming activism opportunities!</center></h2>
        <br>
       <h2><center><a href="https://www.womensmarch.com/">Women's March</a></center></h2>
       <p>The Women's March is a worldwide protest at fights for human rights such as women’s rights, immigration reforms, and healthcare. There is actually a Women’s March happening this year! Click <a href="https://www.astraeafoundation.org/stories/year-resistance-unity/?gclid=EAIaIQobChMIt_nE3cH02wIVSz2BCh0kwwbtEAAYASAAEgJPYPD_BwE">here</a> to get more information on this event.</p>
       <center><img src = "images/women.png" alt = "Women" class="women"></center>
       <br>
       <h2><center><a href="https://en.wikipedia.org/wiki/Martin_Luther_King_Jr.">Martin Luther King Jr.</a></center></h2>
       <p>Martin Luther King, Jr. was a popular civil rights leader and activist. He had a big influence on American society in the 1950s and 1960s. He had a strong belief in non-violent protest that was inspired by Mahatma Gandhi, who also had a strong belief in nonviolent protest.</p>
       <center><img src = "images/martinn.png" alt = "Martin" class="martinn"></center>
       <br>
       <h2><center><a href="https://en.wikipedia.org/wiki/Malala_Yousafzai">Malala Yousafzai</a></center></h2>
       <p>Malala Yousafzai demanded that girls be allowed to receive an education and defied the Taliban in Pakistan. In 2012 she was shot in the head by a Taliban gunman, but survived and went on to be the youngest person to receive the Nobel Peace Prize for her fight for the right of all children to education.</p>
       <center><img src = "images/malala.png" alt = "malala" class="malala"></center>
        <form method = "post" action = "/activism_info">
         <center><input type="submit" value = "activism info"></center>
     </form>
     <!-- <form method = "post" action = "/contact_info">-->
     <!--    <center><input type="submit" value = "contact info"></center>-->
     <!--</form>-->
   </body>
</html>